@font-face {
  font-family: 'Graphik';
  src: url('./assets/GraphikCondensed-Regular-Trial.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Graphik', sans-serif;
}

/* Body */
body {
  background-color: #FFFFFF;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #F1F8FC;

}

footer.footer-style {
  background-color: #0074C7;
  color: #FFFFFF;
  text-decoration: none;
}

  footer .lien {
  color: #ffffff;              
  text-decoration: none;       
}

footer .lien:hover:hover {
  color: #F1F8FC;          
  opacity: 0.85;
}

.graph-h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.graph-h2 {
  font-size: 24px;
  font-weight: 700;
}

.graph-h1 {
  font-size: 32px;
  font-weight: 700;

}

/* Cards Artisan */
.card-artisan {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-artisan:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 768px) {


  .top-artisans {
    display: flex;
    flex-direction: column;
  }
}